<div fxLayout="row" fxLayoutAlign="center center" class="center-panel-box">

    <div fxFlex="600px" class="mb-20">
        <mat-card>
            <mat-card-header>Visitor Information</mat-card-header>
            <div fxLayout="column">
                <form [formGroup]="visitorFirstForm" (submit)=submitFirstForm(visitorFirstForm)>
                    <mat-form-field class="mat-block">
                        <input formControlName="visitorname" matInput placeholder="Visitor Name">
                    </mat-form-field>

                    <mat-form-field class="mat-block">
                        <input matInput formControlName="visitorno" placeholder="Mobile No">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput formControlName="visitorid" placeholder="AAdhar Card or PanCard">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <mat-select formControlName="visitorrelation" placeholder="Relation">
                            <mat-option *ngFor="let relItem of relation" [value]="relItem.value">
                                {{ relItem.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput formControlName="visitoraddr" placeholder="Address">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput formControlName="visitorpurpose" placeholder="Purpose of visit">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput formControlName="visitorin" placeholder="Time in">
                    </mat-form-field>
                    <input type="checkbox" formControlName="let cusCheck of checkTs" />
                    <button mat-raised-button color="primary">Check Completed</button>

                </form>
            </div>
        </mat-card>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="center-panel-box mb-20">

    <div fxFlex="600px">
        <mat-card>
            <div fxLayout="column">
                <form>
                    <mat-form-field class="mat-block">
                        <input matInput placeholder="Flat No">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput placeholder="Concerned person">
                    </mat-form-field>
                    <a mat-raised-button color="primary" (click)="openDialog()">Confirmation</a>

                </form>
            </div>
        </mat-card>
    </div>
</div>