<div fxLayout="row" fxLayoutAlign="center center" class="center-panel-box">

    <div fxFlex="600px" class="mb-20">
        <mat-card>
            <mat-card-header>Visitor Information</mat-card-header>
            <div fxLayout="column">
                <form class="example-form" [formGroup]="visitorFormFirstCheck" (submit)=submitFirstCheck(visitorFormFirstCheck)>
                    <mat-form-field class="mat-block">
                        <input matInput formControlName="visitorName" placeholder="Visitor Name">
                    </mat-form-field>

                    <mat-form-field class="mat-block">
                        <input matInput placeholder="Mobile No">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <mat-select placeholder="Relation">
                            <mat-option *ngFor="let relItem of relation" [value]="relItem.value">
                                {{ relItem.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput placeholder="Address">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput placeholder="Purpose of visit">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput placeholder="Time in">
                    </mat-form-field>

                    <button [disabled]="visitorFormFirstCheck.invalid" mat-raised-button color="primary">Check Completed</button>

                </form>
            </div>
        </mat-card>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="center-panel-box mb-20">

    <div fxFlex="600px">
        <mat-card>
            <div fxLayout="column">
                <form>
                    <mat-form-field class="mat-block">
                        <input matInput placeholder="Flat No">
                    </mat-form-field>
                    <mat-form-field class="mat-block">
                        <input matInput placeholder="Concerned person">
                    </mat-form-field>
                    <a mat-raised-button color="primary" (click)="openDialog()">Confirmation</a>

                </form>
            </div>
        </mat-card>
    </div>
</div>
