<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" fxFlex="320px" fxLayout="row">
        
        <mat-nav-list class="mat-block">
                <mat-list-item routerLink="user/file-complaint">
                    <a matLine>File Complaint</a>
                    <button mat-icon-button>
                        <mat-icon>report</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item routerLink="user/view-complaint" >
                    <a matLine> Complaint Status</a>
                    <button mat-icon-button>
                        <mat-icon>report</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item routerLink="admin/settings">
                    <a matLine>Admin Setting</a>
                    <button mat-icon-button>
                        <mat-icon>report</mat-icon>
                    </button>
                </mat-list-item>
           
          </mat-nav-list>
          
            
       
     
     


    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="left-top-header" fxLayoutGap="20px">
                        <div class="button-row">

                            <a mat-button routerLinkActive="active" routerLink="home" color="default">
                                <mat-icon>home</mat-icon>
                            </a>



                        </div>
                    </div>
                    <div class="right-top-header ">
                        <div class="button-row">
                            <a routerLink="login" color="default" mat-button>Login</a>
                            <a routerLink="signup" color="default" mat-button>Signup</a>
                            <a color="default" mat-button (click)="drawer.toggle()" >
                                <mat-icon>menu</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>



        <router-outlet></router-outlet>

    </div>

</mat-drawer-container>