/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.hide {
    display: none !important;
}

body {
    margin: 0;
}

.center-panel-box {
    .logo {
        & img {
            width: 200px;
        }
    }
}

.mat-block {
    width: 100%;
}

.checkbox-radio-box {
    padding: 0px 0px 20px 0px;
}
.mat-drawer-container{
    height:100vh;
}
